body{
    font: 13px/1.5 Arial, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

/* Global */
ul{
    margin: 0;
    padding: 0;
}

.clearer{
    height: 0;
    clear: both;
}

/* Header */
header{
    background-color: #fafafa;
}

.head{
    padding: 10px;
}

header ul{
    list-style: none;
}

header ul li{
    float: left;
}

.header-top #header-logo{
    width: 120px;
    height: 44px;
}

.search-input{
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    box-shadow: 0.5px 1px 3px #dfdfdf;
}

/* Main */
main{
    background-color: #ffffff;
}

/* Footer */
footer{
    background-color: #f2f2f2;
}